<div role="toolbar">
  <button id="new" ng-click="toggleForm()" type="button" class="btn btn-primary"><i fa-icon="plus-circle"></i> Nuevo Curso</button>
</div>

<div collapse="options.formCollapse">
  <form name="cursoForm" role="form">
    <legend>Crear Curso</legend>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="nombre">Nombre</label>
        <input ng-model="newCurso.name" type="text" id="nombre" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="start">Inicio</label>
        <input ng-model="newCurso.start" datepicker-popup type="text" id="start" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="end">Fin</label>
        <input ng-model="newCurso.end" datepicker-popup type="text" id="end" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <button id="save" ng-click="saveCurso()" type="submit" class="btn btn-primary">
        <i fa-icon="save"></i> Guardar
      </button>
      <button id="back" ng-click="toggleForm()" type="reset" class="btn btn-default">
        <i fa-icon="ban"></i> Cancelar
      </button>
    </div>
  </form>
</div>

<div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Nombre <i fa-icon="sort"></i></th>
        <th>Inicio <i fa-icon="sort-numeric-desc"></i></th>
        <th>Fin <i fa-icon="sort"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="curso in cursos | orderBy:'start':true">
        <td>
          <a ng-bind="curso.name"></a>
        </td>
        <td>
          <a ng-bind="curso.start | date:'shortDate'"></a>
        </td>
        <td>
          <a ng-bind="curso.end | date:'shortDate'"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>