<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">hairy nemesis</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-href="#">
      <i my-glyphicon="exclamation-sign"></i>
        Splendid!
    </a>
  </p>
</div>

<div class="row marketing">
  <accordion>
    <accordion-group heading="HTML5 Boilerplate" is-open="true">
      <i my-glyphicon="search"></i>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </accordion-group>
    <accordion-group heading="Angular">
      <i my-glyphicon="adjust"></i>
      AngularJS is a toolset for building the framework most suited to your application development.
    </accordion-group>
    <accordion-group heading="Karma">
      <i my-glyphicon="dashboard"></i>
      Spectacular Test Runner for JavaScript.
    </accordion-group>
  </accordion>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
