<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-href="#">
      <i fa-icon="exclamation-circle"></i>
      Splendid!
    </a>
  </p>
</div>

<div class="row marketing">
  <accordion>
    <accordion-group heading="HTML5 Boilerplate" is-open="true">
      <i fa-icon="html5"></i>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </accordion-group>
    <accordion-group heading="Angular">
      <i fa-icon="html5"></i>
      AngularJS is a toolset for building the framework most suited to your application development.
    </accordion-group>
    <accordion-group heading="Karma">
      <i fa-icon="html5"></i>
      Spectacular Test Runner for JavaScript.
    </accordion-group>
  </accordion>
</div>

<div class="footer">
  <p><i fa-icon="heart"></i> from the Yeoman team</p>
</div>
